@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg-color: #cccecfe2;
    --primary-active-btn-bg: #fbd144;
    --primary-inactive-btn-bg: #ffffff;
    --primary-text-color: #3d3d3d;
    --secondary-bg-color: #ffffff;
    --theme-btn-bg: #fff;
    font-size: 16px;
}

:root.dark {
    --primary-bg-color: #0c151d;
    --primary-text-color: #f1f2f4;
    --theme-btn-bg: #171f26;
}

body {
    background-color: var(--primary-bg-color);
    font-family: "Poppins", serif;
    transition: background-color 800ms ease-in-out;
}



/* header */

header svg {
    background-color: var(--theme-btn-bg);
    padding: 10px;
    border-radius: 50%;
}



/* main */


.main-left {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 1.5rem;
    border: 4px solid var(--primary-active-btn-bg);
    justify-content: center;
    align-items: center;

}

.main-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 1px solid var(--primary-active-btn-bg);
}


.main-right span {
    font-size: 3rem;
    font-weight: 500;
}

.main-right ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 4vw;
    justify-content: center;
}

.main-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    color: var(--primary-text-color);
    align-items: center;
    justify-content: center;
}

.main-right p:first-child {
    font-size: 2.5rem;
    font-weight: 600;
    justify-content: center;
}



/*  */
.head-about {
    font-size: 2rem;
}

.about span,
p {
    color: var(--primary-text-color);
}

.about-card {
    padding: 20px;
}

.about-card:hover {
    background-color: var(--primary-active-btn-bg);
    border-radius: 1rem;
}

.about {
    justify-content: center;
    align-items: center;
    height: 100%;

}




/*  */
.button-f {
    width: 100%;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.btn1 {
    background-color: var(--primary-active-btn-bg);
    border: none;
    width: 45%;


}

.btn2 {
    background-color: var(--primary-inactive-btn-bg);
    border: none;
    width: 45%;

}
/*  */



/* card section */

.card-btn {
    background-color: var(--secondary-bg-color);
    height: 100px;
    border-radius: 1rem;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.active-btn {
    background-color: #3d3d3db7;
    color: var(--secondary-text-color);
    height: 70%;
    width: 45%;
}

.non-active-btn {
    height: 70%;
    width: 45%;
}






.cards-section{
height: 100%;
width: 100%;
justify-content: center;
align-items: center;
display: flex; 
margin-left: 1px;
}


.cards-section svg {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}











/* footer */
.footer-text{
    font-size: 1rem;
    color: var(--primary-text-color);
}






/* scrollbar */

body::-webkit-scrollbar {
    background-color: rgb(51, 5, 5);
    width: 5px;
}


body::-webkit-scrollbar-thumb {
    background-color: rgb(241, 11, 11);
}

/* select text on browser then background color change */
*::selection {
    background-color: chocolate;
}